<div class="row" style="text-align: center;">
	<h3>All the posts</h3>
</div>
<div class="row">
	<% @posts.each do |post| %>
	<div class="col-sm-12 col-md-4" style="text-align: center;">
			<div class="well">
				<h5><%= post.title %></h5>
				<p>
					<%= post.body %>
				</p>
				<span><%= link_to "Read More", post_path(post), {:class => 'btn btn-info'} %></span>
			</div>
		</div>
	<% end %>
</div>
