<div class="container">
	<div class="row" style="text-align: center;">
		<h3>All the posts</h3>
	</div>
	<div class="row">
		<% @posts.each do |post| %>
		<div class="col-sm-12 col-md-4" style="text-align: center;">
			<h4><%= post.title %></h4>
			<p>
				<%= post.body %>
			</p>
		</div>
		<% end %>
	</div>
</div>